.aboutus--text {
  max-width: 1440px;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}
.aboutus--info {
  width: 435px;
}
.aboutus--title {
  font-size: 36px;
  font-weight: 500;
  max-width: 360px;
  margin-bottom: 20px;
}
.aboutus--subtext,
.aboutus--subtext2 {
  font-size: 14px;
}
.aboutus--subtext2{
  margin-top: 20px;
  margin-bottom: 40px;
}
.aboutus--contact {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
.aboutus--photo1 {
  position: absolute;
  top: 210px;
  left: -50px;
}
.aboutus--photo2 {
  width: 680px;
  position: absolute;
  bottom: -200px;
  right: 0;
}
.aboutus--photo3 {
  width: 1200px;
  height: 715px;
  margin-bottom: 170px;
}
.aboutus--services {
  background-color: black; 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 350px 0 150px 0;
  display: flex;
  color: white;
}
.aboutus--services--title {
  font-size: 36px;
  font-weight: 500;
}
.aboutus--servicestext {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.aboutus--services--items {
  max-width: 380px;
  margin-bottom: 75px;
}
.aboutus--services--items h1 {
  font-size: 36px;
  font-weight: 500;
}
.aboutus--services--items p {
  margin-top: 15px;
  font-size: 14px;
}
.aboutus--services--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70%;
}

@media (max-width: 1600px) {
  .aboutus--text {
    width: 100%;
    height: 800px;
  }
  .aboutus--photo3 {
    width: 100%;
    height: auto;
    padding: 0 25px;
  }
}
@media (max-width: 1200px) {
  .aboutus--text {
    padding-left: 400px;
  }
  .aboutus--photo1 {
    width: 410px;
  }
  .aboutus--photo2 {
    right: 50px;
  }
  .aboutus--servicestext {
    width: 100%;
    padding: 0 25px;
  }
  .aboutus--photo3 {
    margin-bottom: 75px;
  }
  .aboutus--services--items {
    width: 320px;
  }
  .aboutus--services {
    padding-bottom: 75px;
  }
}
@media (max-width: 800px) {
  .aboutus--photo2 {
    right: 0;
  }
  .aboutus--services--items {
    width: 100%;
  }
  .aboutus--services--container {
    max-width: 60%;
  }
}

@media (max-width: 800px) {
  .aboutus {
    overflow: hidden;
  }
  .aboutus--photo2 {
    right: 0;
  }
  .aboutus--services--items {
    width: 100%;
  }
  .aboutus--services--container {
    max-width: 60%;
  }
  .aboutus--photo1 {
    width: 300px;
  }
  .aboutus--photo2 {
    width: 400px;
    bottom: -100px;
  }
  .aboutus--text {
    padding-left: 300px;
    padding-top: 85px;
    height: 600px;
  }
  .aboutus--services {
    padding-top: 170px;
  }
}
@media (max-width: 600px) {
  .aboutus--photo1, 
  .aboutus--photo2 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
  }
  .aboutus--photo1 {
    padding-top: 40px;
  }
  .aboutus--text {
    flex-direction: column;
    padding: 85px 25px;
    height: auto;
  }
  .aboutus--info {
    width: 100%;
  }
  .aboutus--title{
    font-size: 30px;
  }
  .aboutus--servicestext {
    flex-direction: column;
  }
  .aboutus--services--container{
    max-width: 100%;
  }
  .aboutus--services--title {
    text-align: center;
    padding-bottom: 40px;
  }
  .aboutus--services {
    padding-top: 75px;
  }
}