.about {
  padding-top: 70px;
  position: relative;
  max-width: 1440px;
  height: 1090px;
  margin: 0 auto;
}
.photo--info {
  display: flex;
}
.about--text {
  width: 515px;
  margin-left: 80px;
}
.about--title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
}
.about--subtext {
  font-size: 14px;
  width: 75%;
  margin-bottom: 15px;
}
.about--btn--div {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about--btn--div p {
  animation: rotating 2s linear infinite;
}
@keyframes rotating{
  0% {
    transform: translate(0); 
  }
  50% {
    transform: translate(12px);
  }
  100% {
    transform: translate(0); 
  } 
}
.about--btn {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.about--photo2 {
  position: absolute;
  top: 625px;
  right: 0;
  padding-bottom: 115px;
}

@media (max-width: 780px) {
  .about--text {
    margin-left: 50px;
  }
  .about--title {
    font-size: 23px;
  }
  .about--photo2 {
    position: relative;
    margin: 0 auto;
    top: 20px;
  }
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .about {
    padding-top: 0;
    height: auto;
  }
  .photo--info {
    flex-direction: column-reverse;
    margin-top: 75px;
  }
  .about--text {
    margin-left: 15px;
    width: 100%;
  }
  .about--photo2 {
    display: none;
  }
  .photo--info img {
    height: 460px;
  }
}