.footer {
  max-width: 1440px;
  padding: 66px 50px 77px 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.all--rights {
  color: #01010136;
}
.findus {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.findus--text {
  margin-right: 175px;
}
.link1 {
  margin-right: 25px;
}
.link1,
.link2 {
  color: black;
}
@media (max-width: 780px) {
  .footer {
    padding: 50px 25px;
  }
  .findus--text {
    margin-right: 25px;
  }
}
@media (max-width: 460px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px 25px;
  }
  .findus {
    padding-bottom: 20px;
    height: 90px;
    justify-content: space-between;
  }
  .findus--text {
    margin-right: 0;
  }
  .all--rights {
    font-size: 14px;
  }
}