.back--header {
  background: url("../imgs/1-container-back.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  padding: 25px 25px 0 25px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s all ease;
}
.header.fixed {
  position: fixed;
  background-color: #777b6050;
  z-index: 1006;
  padding: 25px 25px 10px 25px;
}
.header.menu {
  background-color: #777B60;
}
.logo {
  color: white;
  font-size: 24px;
}
.burger-menu {
  cursor: pointer;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
.burger-menu.active {
  transform: rotateZ(90deg);
}
.burger-line {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
}
.burger-line::after {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 30px;
  top: 8px;
  position: absolute;
  color: white;
  content: "";
}
.burger-line::before {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 30px;
  top: -8px;
  position: absolute;
  color: white;
  content: "";
}