.project02--general {
  background-color: black;
}
.project02 {
  max-width: 1440px;
  height: 760px;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.back--video {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.project02--info {
  z-index: 1;
  position: relative;
  width: 410px;
  margin-top: 200px;
  margin-left: 40px;
}
.project02--number {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.project02--uptext {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.project2--title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
}
.project02--subtext {
  font-size: 14px;
  margin-bottom: 22px;
}
.project02--btn {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.playStop {
  position: absolute;
  bottom: 50px;
  right: 25px;
  cursor: pointer;
}

/* MEDIA _____--------->>>>>>>>> */

@media (max-width: 1600px) {
  .project02 {
    height: auto;
  }
  .project02--info {
    margin-top: 70px;
    margin-left: 40px;
  }
  .playStop {
    bottom: 0;
    right: 40px;
  }
}

@media (max-width: 960px) {
  .project02 {
    height: auto;
  }
  .playStop {
    bottom: 0;
  }
}

@media (max-width: 780px) {
  .project02--info {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .back--video {
    width: 350%;
    left: -245px;
    height: 650px;
  }
  .project02--general {
    overflow: hidden;
  }
  .project02 {
    height: 520px;
  }
  .playStop {
    bottom: 75px;
  }
  .project02--info {
    margin: 15px;
    width: 100%;
  }
}