.project02 {
  max-width: 1440px;
  height: 900px;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.back--video {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.project02--info {
  z-index: 1;
  position: relative;
  width: 410px;
  margin-top: 400px;
}
.project02--number {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.project02--uptext {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.project2--title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
}
.project02--subtext {
  font-size: 14px;
  margin-bottom: 22px;
}
.project02--btn {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.playStop {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}