.project04 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0 100px 0;
  display: flex;
  justify-content: space-between;
}
.project04--info {
  text-align: end;
  width: 475px;
}
.project04--num {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.project04--uptitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 70px;
}
.project04--num.hidden {
  display: none;
}
.project04--uptitle.hidden {
  margin-bottom: 20px;
  display: none;
}
.img {
  margin-bottom: 60px;
}
.project04--title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}
.project04--subtext {
  padding-left: 60px;
  font-size: 14px;
  margin-bottom: 20px;
}
.project04--btn {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 25px;
}
.project04--slider {
  position: relative;
  width: 685px;
  padding-right: 90px;
  display: flex;
  overflow: hidden;
  z-index: 0;
}
.project04--imgs {
  display: flex;
  transition: 0.5s all;
}
.project04--imgs.third {
  transform: translate(-1372px);
}
.project04--imgs.second {
  transform: translate(-686px);
}
.project04--imgs.first {
  transform: translate(0px);
}
.slider--nav {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.circle1 {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: 47%;
  position: absolute;
  bottom: 25px;
  transition: 0.4s all;
}
.circle2 {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: 50%;
  position: absolute;
  bottom: 25px;
  transition: 0.4s all;
}
.circle3 {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: 53%;
  position: absolute;
  bottom: 25px;
  transition: 0.4s all;
}
.circle1:hover,
.circle2:hover,
.circle3:hover {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
  .project04--imgs,
  .project04--slider,
  .project04--imgs img {
    width: 437px;
    height: 661px;
  }

  .project04--imgs.third {
    transform: translate(-874px);
  }
  .project04--imgs.second {
    transform: translate(-437px);
  }
  .project04--imgs.first {
    transform: translate(0px);
  }

  .project04 {
    flex-direction: column;
    align-items: center;
  }
  .project04--slider {
    padding-top: 50px;
  }

  .circle1 {
    margin-left: 45%;
  }
  .circle3 {
    margin-left: 55%;
  }
  .project04--num {
    margin-bottom: 20px;
    display: none;
  }
  .project04--uptitle {
    margin-bottom: 40px;
    display: none;
  }
  .project04--num.hidden,
  .project04--uptitle.hidden {
    display: block;
  }
}

@media (max-width: 780px) {
  .project04 {
    padding: 75px 0 45px 0;
  }
  .project04--num {
    margin-bottom: 15px;
  }
  .project04--uptitle {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .project04--info,
  .project04--info img {
    width: 100%;
  }

  .project04--imgs,
  .project04--slider,
  .project04--imgs img {
    width: 300px;
    height: 454px;
  }

  .project04--imgs.third {
    transform: translate(-600px);
  }
  .project04--imgs.second {
    transform: translate(-300px);
  }
  .project04--imgs.first {
    transform: translate(0px);
  }
 
  .circle1 {
    margin-left: 44%;
  }
  .circle3 {
    margin-left: 56%;
  }

  .project04--num, 
  .project04--uptitle,
  .project04--title,
  .project04--subtext {
    padding: 0 15px;
  }
  .img {
    margin-bottom: 30px;
  }
}
